<div>
  <label for="">Server Name</label>
  <div>single way data binding</div>
  <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
  />
  <div>two way data binding</div>
  <input type="text" class="form-control" [(ngModel)]="serverName" />
  <p>{{ serverName }}</p>
  <button
    class="px-4 py-2 border border-blue-700 bg-sky-700"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add Server
  </button>
  <!--<p [innerText]="allowNewServer"></p>-->
  <p>{{ serverCreationStatus }}</p>
  <app-server></app-server>
  <app-server></app-server>
</div>
